@using Tompet.Extensions
@using Tompet.Infrastructure.Data
@model IEnumerable<TechniqueServiceModel>

<div class="row">
    @foreach (var technique in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@technique.ImageUrl" alt="@technique.Name @technique.Type (@technique.ServiceName)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@technique.Name @technique.Type </h5>
                    <a asp-controller="Techniques" asp-action="Details" asp-route-id="@technique.Id" class="btn btn-primary">Виж</a>
                    @if (ViewBag.AllowTechniqueEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Techniques" asp-action="Edit" asp-route-id="@technique.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Techniques" asp-action="Delete" asp-route-id="@technique.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>